/* color palette from <https://github.com/vuejs/theme> */
:root {
  --gap-elements: 0.4em;
  --gap-elements-block: 1.5em;
}

:root,
:root[main-theme='light'] {
  --bg: #ffffff;
  --bg-dark: #a8a8a883;
  --bg-dop: #efeff0;
  --bg-revert: black;
  --bg-completed: #16a34a;
  --bg-hover: #2563eb;
  --bg-highlight: #f59e0b;
  --bg-accent: #b778f1;

  --text: #000000;
 }

 :root[main-theme='dark'] {
  --bg: #1e1e1e;
  --bg-dark: #00000083;
  --bg-dop: #473f3f;
  --bg-revert: rgb(167, 156, 156);
  --bg-completed: #0e4924;
  --bg-hover: #1a345e;
  --bg-highlight: #6b5110;
  --bg-accent: #351e4b;

  --text: #f0f0f0;
 }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--bg);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
