@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: var(--gap-elements-block)
}

.__background {
  opacity: 0.3;
}

#app > main {
  flex: 1;
}

select,
select > option {
  cursor: pointer;
}

select option:checked {
  background-color: var(--bg-accent);
}

input,select {
  background-color: var(--bg-dop);
  color: var(--text);
}